header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridCell {
  height: 1fr;
  width: 1fr;
  border: 1px solid black;
}
